* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond' !important;

}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins:wght@300;400&display=swap');


:root {
    --primaryColor: #0C356A;
    --secondaryColor: #fff;
}

.main-container {
    background-image: url(images/css-cloud.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
    width: 390px;
    height: auto;
    border-radius: 15px;
    background-color: var(--primaryColor);
    padding-top: 20px;
    margin-top: 100px;
    box-shadow: 0px 0px 24px 6px rgba(255, 255, 255, 0.69);
    -webkit-box-shadow: 0px 0px 24px 6px rgba(255, 255, 255, 0.69);
    -moz-box-shadow: 0px 0px 24px 6px rgba(255, 255, 255, 0.69);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.search input {
    width: 75%;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: var(--secondaryColor);
    border-radius: 20px;
    padding: 0px 20px;
}

.search button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    border: none;
    background-color: var(--secondaryColor);
}

.weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--secondaryColor);
}

.weather img {
    height: 140px;
}

.weather h2 {
    font-size: 3rem;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    padding-bottom: 30px;
    font-size: 22px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    color: var(--secondaryColor);
}

.col>img {
    height: 35px;
    margin-right: 10px;
}